*
{
    margin: 0px; /*верхний отступ от начала страницы*/
    padding:0px; /*величина поля для элементов*/
}
.menu li
{
    float:left; /*расположение*/
    list-style: none; /*убирает точки в листе*/
    margin:10px 50px ; /*высота  и длина*/
}
.menu /*свойства меню*/
{
    overflow: auto; /*режим тени*/
    background: aquamarine; /*цвет меню*/
    box-shadow: 0px 13px 17px -6px blueviolet; /*свойство тени меню*/
    margin:0 auto;
    display:table;
}

.menu li a /*свойства списка*/
{
    font: 18px Verdana, Arial, Helvetica, sans-serif; /*размер и шрифты*/
    color: yellow; /*цвет */
    text-decoration:underline; /*свойства текста у элементов меню*/
}

.sidebar-left{
    background: mediumseagreen;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 20;
    list-style: none;
}

.sidebar-right{
    background: yellowgreen;
    position:fixed;
    top: 0;
    right:0;
    width: 225px;
    height: 100%;
    padding: 20px 20;
    list-style: none;
}


.content /*визуализация текста*/
{
    width:700px; /*ширина*/
    margin:0 auto; /*отступ*/
    padding:20px; /*величина поля для элементов*/
    box-shadow: 0 1px 4px red, 0 0 40px green inset; /*тень для элементов*/
}

.content h2 /*обрамление текста*/
{
    font: 30px Verdana, Arial, Helvetica, sans-serif; /*шрифты*/
    color:blue; /*цвет*/
    text-align:center; /*расположение*/
}

.content p /*свойства текста*/
{
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    color:black;
    text-indent:20px;
}

.footer /*свойства футера*/
{
    width:100%; /*ширина*/
    text-align:center; /*центровка*/
    margin-top:20px; /*отступ*/
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    color:#444;
    text-decoration: none;
}